.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.home {
  width: auto;
}

.container-1 {
  width: 35%;
}

.container-1>h2 {
  font-family: 'Merriweather';
}
.shop-btn {
  background: #F86338;
  color: #fff;
  border-radius: 8px;
  width: -moz-fit-content;
  width: fit-content;
}

.shop-btn:hover {
  background:  #fff;
  color: #F86338;
  border: 1px solid #F86338;
}

.container-2 {
  width: 65%;
}

.home-image {
  width: 50%;
  height: 500px;
}

.cards-container {
  width: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 100px 0;
}

.cat-img {
  width: 320px;
  height: 340px;
}

.content {
  top: 50%;
  width: 70%;
  left: 12.5%;
  margin: 0 15px;
  text-align: left;
}

.see-all {
  color: #F86338;
}

.footer {
  background: #F86338;
  color: #fff;
  bottom: 0;
}